.body
  .side
    .side__header
      .side__header__box
        .side__header__box__user-name
          %p
          yasuna
        .side__header__box__menu
          %ul
            %li.side__header__box__menu__edit
              =link_to "/", class: "side__header__box__menu__btn" do
                = fa_icon "edit"
            %li.side__header__box__menu__cog
              =link_to "/", class: "side__header__box__menu__btn" do
                = fa_icon "cog"
    .side__group
      .side__group__box
        %p.side__group__box__title
          sample
        %p.side__group__box__info
          Good by world
      .side__group__box  
        %p.side__group__box__title
          sample*
        %p.side__group__box__info
          test


      


  .contents

    .contents__header
      .contents__header__group
        %p.contents__header__group__title
          sample*
      
      .contents__header__btn
        %p.contents__header__btn__edit
          Edit
      .contents__header__members
        %p.contents__header__members__name
          Members：yasuna

    .contents__message
      .contents__message__box
        %p.contents__message__box__user
          yasuna
        %p.contents__message__box__created-at
          2019/07/24(Wed) 20:10:53
      %p.contents__message__text  
        test

      .contents__message__box
        %p.contents__message__box__user
          yasuna
        %p.contents__message__box__created-at
          2019/07/24(Wed) 22:22:22
      %p.contents__message__text  
        hello

    .contents__form
      .contents__form__box
        %textarea.contents__form__box__message
          type a message
        %label.upload-label{for: "upload-icon"}
          %i.fa.fa-picture-o
            %input{type: "file", id: "upload-icon"}
      .contents__form__send
        %input{type: "submit", value: "Send"}

