.body
    
  .side
    .side__header
      .side__header__box
        .side__header__box__user-name
          %p
          yasuna
        .side__header__box__menu
          = fa_icon "edit"
          = fa_icon "cog"
    .side__group
      .side__group__box
        %p.side__group__box__title
          sample
        %p.side__group__box__info
          Good by world
      .side__group__box  
        %p.side__group__box__title
          sample*
        %p.side__group__box__info
          See you


      


.contents

  .contents__header
-# 固定

  .contents__message-box
-# 固定
