.body
  .side-ber
    .side-ber__header
      .side-ber__user-name
        yasuna
    .side-ber__menu
      .side-ber__menu__group-title
        sample
      .side-ber__menu__group-info
        Good by world
      .side-ber__menu__group-title
        sample*
      .side-ber__menu__group-info
        See you
      


.contents

  .contents__header
-# 固定

  .contents__message-box
-# 固定
