.contents{
  width: calc(100vw - 300px);
  float: left;

  .header{
    background-color: #fff;
    padding: 0 40px;
    height: 100px;
    border: solid 1px #eeeeee;
    position: relative;
    &__group{
      padding-top: 35px;
      float: left;
      p{
        color: #333333;
        font-size: 20px;
      }
    }
    &__btn{
      border: solid 1px $btn-color;
      float: right;
      margin: 28px 0px;
      padding: 0 20px;
      cursor: pointer;
      p{
        font-size: 16px;
        line-height: 40px;
        color: $btn-color;
      }
    }
    &__members{
    	position: absolute;
      bottom: 0;
      p{
        color: #999999;
        font-size: 12px;
        margin-bottom: 2px;
      }
    }
  }
  .message{
    background-color: #fafafa;
    height: calc(100vh - 200px);
    padding: 46px 40px;
    overflow-y: scroll;
    box-sizing: border-box;
    &__box{
      margin-bottom: 10px;
      &__user{
        font-size: 16px;
        color: $message-text-color;
        margin-right: 10px;
        float: left;
        font-weight: bold;
      }
      &__created-at{
        font-size: 12px;
        color: #999999;
      }
    }
    &__text{
      font-size: 14px;
      color: $message-text-color;
      margin-bottom: 40px;
    }
  }

  .message::-webkit-scrollbar {
    display: none;
  }

  .form{
    background-color: #dddddd;
    height: 100px;
    padding: 25px 40px;
    box-sizing: border-box;
    &__box{
      width: 100%;
      &__message{
        position: relative;
        width: calc(100% - 115px);
        input{
          padding: 0 10px;
          height: 50px;
          width: 100%;
          border: none;
          font-size: 16px;
          color: $message-text-color;
          line-height: 50px;
          float: left;
          box-sizing: border-box;
        }
        label{
          font-size: 20px;
          position: absolute;
          right: 10px;
          top: 10px;
          cursor: pointer;
        }
        #upload-icon{
          display: none;
        }
      }
      &__send{
        &__btn{
          border: none;
          background-color: $btn-color;;
          color: #fff;
          height: 50px;
          width: 100px;
          margin-left: 15px;
          cursor: pointer;
        }
      }
    }
  }
}