.notification {
  .notice {
    background-color: $btn-color;
    color: #fff;
    text-align: center;
  }

  .alert {
    background-color: $alert_orange;
    color: #fff;
    text-align: center;
  }
}