.side{
  background-color: #2f3e51;
  color: #fff;
  font-weight: bold;
  height: 100%;
  width: 300px;

  &__header{
    background-color: #253141;
    height: 80px;
    width: 260px;
    padding: 0 20px;
    align-items: center;
    display: flex;
    position: fixed;
    &__box{
      width:100%;
      &__user-name{
        float: left;
      }
      &__menu{
        float: right;
      }
    }
  }

  &__group{
    padding: 100px 20px 0px 20px;
    &__box{
      margin-bottom: 40px;
      &__title{
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__info{
        font-size: 11px;
      }
    }
  }
}